<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AreaCode" value="311700" />
    <add key="Postal" value="224221" />
    <add key="OwnerCer" value="身份证" />
    <add key="CompCer" value="营业执照" />
    <add key="BankName" value="江苏东台农村商业银行安丰支行" />
    <add key="BankCode" value="314311711013" />
  </appSettings>
</configuration>